.wrapper {
    display: flex;
    flex-wrap: nowrap;
    background-color: DodgerBlue;
  }

.wrapper > div{
    background-color: #f1f1f1;
    margin:10px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#user-marjun{
    width: 300px;
    height:100px;
    background-color: coral;
}

#user-rj{
    width: 200px;
    height:100px;
    background-color:darkkhaki;
}
#user-Rai{
    width: 250;
    height: 100;
    background-color: blue;
}